#main {
    background-image: url("../image/Hogwarts.jpg");
    background-size: cover;
    color: white;
    padding: 15%;
}

#logo {
    width: 70%;
    height: 15%;
}

#start {
    width: 20%;
    height: 45px;
    font-size: 20px;
    border-radius: 25px;
    color: #041a32;
    border: 0px;
}

#start:hover {
    background-color: #041a32;
    color: white;
}