#qna {
    display: none;
    background-image: url("../image/HogwartsHall.png");
    background-size: cover;
    padding: 8%;
}

#hat {
    width: 40%;
    height: 60%;
}

.q {
    font-size: 20px;
    color: white;
    width: 80%;
    margin: auto;
}

.a {
    padding: 5%;
    text-align: center;
    width: 80%;
    margin: auto;
}

.aList {
    background-color: white;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 50px;
    border-width: 0px;
    margin: 10px;
    font-size: 15px;
}

@media (hover: hover) {
    .aList:hover, .aList:focus {
        background-color: #041a32;
        color: white;
    }
}