#result {
    display: none;
    background-color: whitesmoke;
    text-align: center;
    padding: 5%;
}

.house {
    width: 30%;
}

.resultName {
    font-size: 30px;
    padding: 10px;
}

.resultDesc {
    font-size: 20px;
    padding: 20px;
}
